<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  
  <div class="header">
    
    <div class="header-right">
      <a routerLink="/signup" routerLinkActive="active">ADMIN</a>
      <a routerLink="/login" routerLinkActive="active">LOG OUT</a>
      

      
      
    </div>
  </div>
  
 
  <div class="sidenav">
    <a routerLink="/profile1" routerLinkActive="active">Driver</a>
    <a routerLink="/profile2" routerLinkActive="active">Police</a>
    <a routerLink="/profile" routerLinkActive="active">Insurance</a>
    <a routerLink="/message" routerLinkActive="active">Message</a>
  </div>
  
  
  </body>
  </html>
  



